html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.content{
    margin: 50px 200px 100px 200px;
}

.bg-light{
    background-color: #E9967A !important;
}

.btn-outline-success{
    color: #FFFAFA;
    border-color: #FFFAFA;
}